<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :singername %><br>
    <%= f.text_field :singername %>
  </div>
  <div class="field">
    <%= f.label :songtitle %><br>
    <%= f.text_field :songtitle %>
  </div>
  <div class="field">
    <%= f.label :releaseyear %><br>
    <%= f.number_field :releaseyear %>
  </div>
  <div class="field">
    <%= f.label :albumtitle %><br>
    <%= f.text_field :albumtitle %>
  </div>
  <div class="field">
    <%= f.label :favorite %><br>
    <%= f.check_box :favorite %>
  </div>
  <div class="field">
    <%= f.label :songlength %><br>
    <%= f.number_field :songlength %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
