<p id="notice"><%= notice %></p>

<p>
  <strong>Singername:</strong>
  <%= @song.singername %>
</p>

<p>
  <strong>Songtitle:</strong>
  <%= @song.songtitle %>
</p>

<p>
  <strong>Releaseyear:</strong>
  <%= @song.releaseyear %>
</p>

<p>
  <strong>Albumtitle:</strong>
  <%= @song.albumtitle %>
</p>

<p>
  <strong>Favorite:</strong>
  <%= @song.favorite %>
</p>

<p>
  <strong>Songlength:</strong>
  <%= @song.songlength %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
